table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: #7b8ca8;
}
th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid rgba(238, 238, 238, 0.87);
}
tr:nth-child(even) {
  background-color: rgba(238, 238, 238, 0.93);
}
