table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: #7b8ca8;
}
th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: #da5858;
}
